@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
.nav {
  position: relative;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-container .icon-Hamburger {
  display: none;
}
.nav .nav-container .desktop-menu .nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Barlow";
}
.nav .nav-container .desktop-menu .nav-links .nav-link {
  padding: 10px 15px;
}
.nav .nav-container .desktop-menu .nav-links .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.488);
  border-radius: 20px;
  cursor: pointer;
}
.nav .nav-container .desktop-menu .nav-links .contact {
  text-transform: uppercase;
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 20px;
}
.nav .nav-container .desktop-menu .nav-links .contact:hover {
  color: hsl(0deg, 0%, 100%);
}
.nav .hamburger-menu {
  margin-top: 5em;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  display: none;
  position: absolute;
}
.nav .hamburger-menu .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  list-style: none;
  color: hsl(232deg, 10%, 55%);
  font-family: "Barlow";
}
.nav .hamburger-menu .nav-links .nav-link {
  padding: 15px 18px;
  margin: 30px 0px;
}
.nav .hamburger-menu .nav-links .nav-link:hover {
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 20px;
  color: hsl(212deg, 27%, 19%);
  cursor: pointer;
}
.nav .hamburger-menu .nav-links .contact {
  color: hsl(212deg, 27%, 19%);
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 20px;
  font-weight: 900;
  font-family: "Fraunces";
  text-transform: uppercase;
}
.nav .hamburger-menu .nav-links .contact:hover {
  color: hsl(0deg, 0%, 100%);
}

@media only screen and (max-width: 600px) {
  .nav .nav-container .icon-Hamburger {
    display: block;
  }
  .nav .nav-container .desktop-menu {
    display: none;
  }
  .nav .hamburger-menu {
    display: block;
  }
}
.app-header {
  padding: 1em;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}
.app-header .hero-container {
  margin-top: 6em;
  text-align: center;
}
.app-header .hero-container .title {
  font-size: 6em;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-family: "Fraunces";
  font-weight: 900;
  letter-spacing: 12px;
}
.app-header .hero-container .arrow {
  margin-top: 5em;
}

.galery-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.galery-container .card-container {
  padding: 0em 4em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}
.galery-container .card-container .card-title {
  font-size: 3em;
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
}
.galery-container .card-container .card-desc {
  font-size: 1.2em;
  font-family: "Barlow";
  color: hsl(232deg, 10%, 55%);
}
.galery-container .card2-container .card-img {
  width: 100%;
  height: 100%;
}
.galery-container .card2-container .mobile {
  display: none;
}
.galery-container .card3-container {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45em;
  background-position: bottom;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 4em;
}
.galery-container .card3-container .card-img {
  width: 100%;
  height: 100%;
}
.galery-container .card3-container .card3-title {
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
  font-size: 2em;
}
.galery-container .card3-container .card3-desc {
  font-size: 1.2em;
  font-family: "Barlow";
  color: hsl(232deg, 10%, 55%);
}

@media only screen and (max-width: 890px) {
  .galery-container {
    grid-template-columns: 1fr;
  }
  .galery-container .card-container {
    text-align: center;
    align-items: center;
    padding: 4em;
  }
  .galery-container .card-container .card-title {
    font-size: 2.5em;
  }
  .galery-container .card2-container .mobile {
    display: block;
  }
  .galery-container .card2-container .desktop {
    display: none;
  }
  .galery-container .item1 {
    grid-area: 2/1/3/1;
  }
  .galery-container .item2 {
    grid-area: 1/1/2/1;
  }
}
.testimonials-container {
  text-align: center;
  padding: 10em 5em;
}
.testimonials-container .title {
  margin-bottom: 2em;
  font-family: "Fraunces";
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(232deg, 10%, 55%);
}
.testimonials-container .testimonials-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.testimonials-container .testimonials-cards .card-container {
  padding: 0em 2em;
}
.testimonials-container .testimonials-cards .card-container .card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonials-container .testimonials-cards .card-container .card-comment {
  margin: 3em 0px;
  font-family: "Barlow";
  color: hsl(213deg, 9%, 39%);
}
.testimonials-container .testimonials-cards .card-container .card-name {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 1.4em;
}
.testimonials-container .testimonials-cards .card-container .card-cargo {
  font-family: "Barlow";
  color: hsl(210deg, 4%, 67%);
  font-size: 0.9em;
  padding: 1em 0em;
}

@media only screen and (max-width: 890px) {
  .testimonials-container {
    padding: 10em 1em;
  }
  .testimonials-container .testimonials-cards {
    flex-direction: column;
  }
  .testimonials-container .testimonials-cards .card-container {
    padding: 0em 1em;
  }
}
.app-main {
  width: 100%;
}

.footer-galery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-galery-container .img-footer {
  width: 100%;
  height: 100%;
}
.footer-galery-container .mobile {
  display: none;
}

@media only screen and (max-width: 890px) {
  .footer-galery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-galery-container .mobile {
    display: block;
  }
  .footer-galery-container .desktop {
    display: none;
  }
}
.footer-container {
  padding: 5em;
  text-align: center;
  background-color: hsl(168deg, 34%, 41%);
}
.footer-container .footer-links, .footer-container .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .footer-links {
  gap: 2em;
  padding-top: 1em;
  padding-bottom: 2.5em;
  color: hsl(167deg, 40%, 24%);
  font-family: "Barlow";
}
.footer-container .social-links {
  gap: 1em;
}
.footer-container .attribution {
  margin-top: 2em;
  color: hsl(167deg, 40%, 24%);
}
.footer-container .attribution a {
  color: hsl(212deg, 27%, 19%);
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 890px) {
  .app .app-header {
    background-image: url("../images/mobile/image-header.jpg");
  }
  .app .app-header .hero-container {
    margin-top: 5em;
  }
  .app .app-header .hero-container .title {
    font-size: 3em;
  }
  .app .app-header .hero-container .arrow {
    margin-top: 14em;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=index.css.map */
